@import "globals.less";

@colorBg1:      #955971;
@colorBg2:      #edac8e;
@colorBg3:      #fedd7e;
@colorBg4:      #eedf8b;
@colorBg5:      #f7f7f7;
@colorBg6:      #90bae3;
@colorBg7:      #bacdc7;
@colorBg8:      #f5eaaa;



@colorText1:    #fff;
@colorText2:    #000000;
@colorText3:    @colorBg2;
@colorText4:    #555555;

@cuantasSecciones: 2;

@timeDraw:      2.5s;
@delayDraw:     1s;

html {
  font-size: 10px;
}
html,body{
  min-height: 100%;
  overflow-x: hidden;
}
body {
	overflow: hidden;
	font-family: 'Arial', sans-serif;
  margin: 0;
  color: @colorText1;
  background: linear-gradient(@colorBg1, @colorBg2, @colorBg3, @colorBg4, @colorBg5, @colorBg6, @colorBg7, @colorBg8);
  background-size: 100% 800%;
  background-position: center 0;
  transition: background-position .8s ease;
  &.bg0 {
    background-position: center 0;
  }
  &.bg1 {
    background-position: center 100%/8;
    .cloud {
      .option1 {
        opacity: 1;
      }
      .option2 {
        opacity: 0;
      }
    }
  } //bg1
  &.bg2 {
    background-position: center 200%/8;
    .cloud {
      .option1 {
        opacity: 0;
      }
      .option2 {
        opacity: 1;
      }
    }
  }
  &.bg3 {
    background-position: center 300%/8;
    .cloud {
      .option1 {
        opacity: 0;
      }
      .option2 {
        opacity: 1;
      }
    }
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}
.enlace {
  color: currentColor;
  text-decoration: none;
}
.wrapper {
  .absoluteTopLeft;
  .size(@cuantasSecciones * 100%, 100%);
  overflow: hidden;
}

.section {
  display: inline-block;
  float: left;
  position: relative;
  height: 100%;
  width: floor(100%/@cuantasSecciones);
}

.section0 {
  background: url('../img/welcome.png') no-repeat center center transparent;
}
.start {
  .absoluteTopRight(45%, 2rem);
  .size(109px, 52px);
  opacity: .8;
  z-index: 120;
  transition: opacity .5s ease;
  &:hover {
    opacity: 1;
  }
}


.headerMenu, .footerMenu {
  .size(100%, 12rem);
  position: fixed;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 12rem;
  background-color: transparent;
  cursor: pointer;
  z-index: 120;
}
.headerMenu {
  top: 0;
  background-position: center top;
  background-image: url('../img/header.png');
}
.footerMenu {
  background-position: center bottom;
  background-image: url('../img/footer.png');
  bottom: 0;
}
.imgFull {
  .size(100%, auto);
  display: block;
}

.cloud1 {
  .absoluteTopLeft(200px, -500px);
  .size(356px, 104px);
  &.started {
    animation: animationCloud1 3200ms forwards linear 0s infinite;
  }
  .option1 {
    background-image: url('../img/cloud11.png');
  }
  .option2 {
    background-image: url('../img/cloud12.png');
  }
}

.cloud2 {
  .absoluteTopRight(200px, -400px);
  .size(258px, 141px);
  &.started {
    animation: animationCloud1 2900ms forwards linear 0s infinite;
  }
  .option1 {
    background-image: url('../img/cloud21.png');
  }
  .option2 {
    background-image: url('../img/cloud22.png');
  }
}

.optionCloud {
  .size;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: opacity .8s ease;
}

.valley {
  .absoluteBottomLeft;
  .size(100%, 60.8889%);
  &.started .bgValley {
    bottom: 0;
  }
}

.bgValley, .mountain {
  .absoluteBottomLeft(-100%, 0);
  .size;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  transition: bottom .9s ease-out;
}
.bgValley1 {
  z-index: 60;
  transition-delay: .8s;
}
.bgValley2 {
  z-index: 50;
  transition-delay: .6s;
}
.mountain {
  z-index: 40;
  transition-delay: 0s;
  bottom: 0;
}
.bgValley3 {
  z-index: 30;
  transition-delay: .5s;
}
.bgValley4 {
  z-index: 20;
  transition-delay: .4s;
}
.bgValley5 {
  z-index: 10;
  transition-delay: .2s;
}

.valley1 {
  .bgValley1 {
    background-image: url('../img/valley11.png');
  }
  .bgValley2 {
    background-image: url('../img/valley12.png');
  }
  .mountain {
    background-image: url('../img/mountain11.png');
  }
  .bgValley3 {
    background-image: url('../img/valley13.png');
  }
  .bgValley4 {
    background-image: url('../img/valley14.png');
  }
  .bgValley5 {
    background-image: url('../img/valley15.png');
  }
}

.copy {
  position: relative;
  .size(40%, 30.33%);
  margin: 8.66% auto 0 auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0;
  transition: opacity .4s ease 1.6s;
  &.show {
    opacity: 1;
  }
}
.copy11 {
  background-image: url('../img/copy11.png');
}
// -webkit-animation: bgGradient 30s ease infinite;
// -moz-animation: bgGradient 30s ease infinite;
// -o-animation: bgGradient 30s ease infinite;
// animation: bgGradient 30s ease infinite;
//
// @-webkit-keyframes bgGradient {
//    0%{background-position:50% 0%}
//    50%{background-position:50% 100%}
//    100%{background-position:50% 0%}
// }
// @-moz-keyframes bgGradient {
//    0%{background-position:50% 0%}
//    50%{background-position:50% 100%}
//    100%{background-position:50% 0%}
// }
// @-o-keyframes bgGradient {
//    0%{background-position:50% 0%}
//    50%{background-position:50% 100%}
//    100%{background-position:50% 0%}
// }
// @keyframes bgGradient {
//    0%{background-position:50% 0%}
//    50%{background-position:50% 100%}
//    100%{background-position:50% 0%}
// }
